<settings>
    <servers>
        <server>
            <id>nexus-releases</id>
            <username>admin</username>
            <password>bibanh</password>
        </server>
        <server>
            <id>nexus-snapshots</id>
            <username>admin</username>
            <password>bibanh</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>nexus</id>
            <url>http://host.docker.internal:8081/repository/maven-public/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://host.docker.internal:8081/repository/maven-public/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>
